In [32]:
import requests
import pandas as pd
import numpy as np
import time
import pprint as pp
from tqdm.notebook import tqdm
import time
import psutil
import sys

ModuleNotFoundError: No module named 'tqdm.notebook'

In [6]:
#Collect zip codes and categories
zip_codes = [line.rstrip('\n') for line in open('zips.txt')]
categories = [line.rstrip('\n') for line in open('categories.txt')]

In [7]:
#Define the API Key, Endpoint, and Header
API1=
API2=
API3=
API4=
ENDPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % API1}

In [27]:
#Initialize lists for collecting data
name = []
url = []
phone = []
address = []
city = []
state = []
czip = []
rating = []
review_count = []
vertical = []
search = []
yelp_id = []
review1 = []
review2 = []
review3 = []

In [9]:
#Ask user for page number to collect from
print('Page Number:')
page_number = int(input())
page_number = (page_number-1)*50

Page Number:
1

In [31]:
count = 0
for page in tqdm([0,50,100,150]):
    count+=1
    #try:
    PARAMETERS = {'location':'san diego', 
              'term': 'italian',
              'limit': 50,
              'offset':page}
    if 5000<=count<=9999:
        HEADERS = {'Authorization': 'bearer %s' % API2}
    if 10000<=count<=14999:
        HEADERS = {'Authorization': 'bearer %s' % API3}
    if 15000<=count<=19999:
        HEADERS = {'Authorization': 'bearer %s' % API4}
    if 20000<=count<=24999:
        HEADERS = {'Authorization': 'bearer %s' % API1}
    if 25000<=count:
        print('Used up all API requests available')
        pass
    response = requests.get(url = ENDPOINT, params = PARAMETERS, headers = HEADERS)
    if response.status_code!=200:
        print('Error: response status code not 200')
        time.sleep(5)
        sys.exit(0)
    business_data = response.json()
    for business in tqdm(business_data['businesses']):
        name = name + [business['name']]
        url = url + [business['url']]
        address = address + [business['location']['address1']]
        city = city + [business['location']['city']]
        state = state + [business['location']['state']]
        czip = czip + [business['location']['zip_code']]
        phone = phone + [business['phone']]
        #search = search + [cat]
        yelp_id = yelp_id + [business['id']]
        industries = str()
        for i in business['categories']:
            industries = industries+', '+str(i['title'])
        vertical = vertical + [industries[2:]]
        rating = rating + [business['rating']]
        review_count = review_count + [business['review_count']]
        # Reviews
        response_reviews = requests.get(url = 'https://api.yelp.com/v3/businesses/'+business['id']+'/reviews',
            params = {}, headers = HEADERS)
        review_data = response_reviews.json()
        try:
            review1 += [review_data['reviews'][0]['text']]
        except: review1 += ['null']
        try:
            review2 += [review_data['reviews'][1]['text']]
        except: review2 += ['null']
        try:
            review3 += [review_data['reviews'][2]['text']]
        except: review3 += ['null']
#     except:
#         print('error')

  0%|          | 0/4 [00:00<?, ?it/s]
  0%|          | 0/50 [00:00<?, ?it/s]
  2%|▏         | 1/50 [00:00<00:24,  2.01it/s]
  4%|▍         | 2/50 [00:00<00:22,  2.15it/s]
  6%|▌         | 3/50 [00:02<00:34,  1.36it/s]
  8%|▊         | 4/50 [00:03<00:40,  1.14it/s]
 10%|█         | 5/50 [00:03<00:32,  1.38it/s]
 12%|█▏        | 6/50 [00:06<01:02,  1.42s/it]
 14%|█▍        | 7/50 [00:07<00:49,  1.14s/it]
 16%|█▌        | 8/50 [00:07<00:38,  1.08it/s]
 18%|█▊        | 9/50 [00:08<00:32,  1.27it/s]
 20%|██        | 10/50 [00:09<00:35,  1.13it/s]
 22%|██▏       | 11/50 [00:10<00:36,  1.06it/s]
 24%|██▍       | 12/50 [00:10<00:29,  1.27it/s]
 26%|██▌       | 13/50 [00:11<00:31,  1.17it/s]
 28%|██▊       | 14/50 [00:12<00:28,  1.26it/s]
 30%|███       | 15/50 [00:13<00:26,  1.35it/s]
 32%|███▏      | 16/50 [00:13<00:25,  1.31it/s]
 34%|███▍      | 17/50 [00:15<00:28,  1.17it/s]
 36%|███▌      | 18/50 [00:15<00:27,  1.16it/s]
 38%|███▊      | 19/50 [00:17<00:32,  1.03s/it]
 40%|████      | 20/50 [00:20<00:53,  1.77s/it]
 42%|████▏     | 21/50 [00:21<00:39,  1.35s/it]
 44%|████▍     | 22/50 [00:23<00:43,  1.55s/it]
 46%|████▌     | 23/50 [00:23<00:32,  1.20s/it]
 48%|████▊     | 24/50 [00:24<00:25,  1.00it/s]
 50%|█████     | 25/50 [00:24<00:20,  1.23it/s]
 52%|█████▏    | 26/50 [00:24<00:17,  1.39it/s]
 54%|█████▍    | 27/50 [00:25<00:14,  1.60it/s]
 56%|█████▌    | 28/50 [00:26<00:15,  1.43it/s]
 58%|█████▊    | 29/50 [00:27<00:15,  1.37it/s]
 60%|██████    | 30/50 [00:27<00:13,  1.49it/s]
 62%|██████▏   | 31/50 [00:28<00:11,  1.67it/s]
 64%|██████▍   | 32/50 [00:28<00:10,  1.78it/s]
 66%|██████▌   | 33/50 [00:28<00:09,  1.89it/s]
 68%|██████▊   | 34/50 [00:30<00:11,  1.40it/s]
 70%|███████   | 35/50 [00:30<00:09,  1.61it/s]
 72%|███████▏  | 36/50 [00:31<00:09,  1.43it/s]
 74%|███████▍  | 37/50 [00:31<00:07,  1.65it/s]
 76%|███████▌  | 38/50 [00:32<00:07,  1.64it/s]
 78%|███████▊  | 39/50 [00:33<00:07,  1.39it/s]
 80%|████████  | 40/50 [00:36<00:14,  1.44s/it]
 82%|████████▏ | 41/50 [00:38<00:13,  1.54s/it]
 84%|████████▍ | 42/50 [00:38<00:09,  1.20s/it]
 86%|████████▌ | 43/50 [00:39<00:07,  1.14s/it]
 88%|████████▊ | 44/50 [00:42<00:09,  1.58s/it]
 90%|█████████ | 45/50 [00:42<00:06,  1.23s/it]
 92%|█████████▏| 46/50 [00:43<00:03,  1.02it/s]
 94%|█████████▍| 47/50 [00:43<00:02,  1.21it/s]
 96%|█████████▌| 48/50 [00:45<00:02,  1.05s/it]
 98%|█████████▊| 49/50 [00:51<00:02,  2.64s/it]
 25%|██▌       | 1/4 [00:54<02:42, 54.11s/it]t]
  0%|          | 0/50 [00:00<?, ?it/s]
  2%|▏         | 1/50 [00:04<03:40,  4.50s/it]
  4%|▍         | 2/50 [00:05<02:38,  3.31s/it]
  6%|▌         | 3/50 [00:09<02:58,  3.79s/it]
  8%|▊         | 4/50 [00:19<04:08,  5.39s/it]
 10%|█         | 5/50 [00:19<02:59,  4.00s/it]
 12%|█▏        | 6/50 [00:20<02:09,  2.95s/it]
 14%|█▍        | 7/50 [00:21<01:38,  2.29s/it]
 16%|█▌        | 8/50 [00:21<01:15,  1.80s/it]
 18%|█▊        | 9/50 [00:22<00:59,  1.45s/it]
 20%|██        | 10/50 [00:23<00:50,  1.26s/it]
 22%|██▏       | 11/50 [00:24<00:46,  1.20s/it]
 24%|██▍       | 12/50 [00:28<01:20,  2.13s/it]
 26%|██▌       | 13/50 [00:29<01:09,  1.88s/it]
 28%|██▊       | 14/50 [00:39<02:29,  4.14s/it]
 30%|███       | 15/50 [00:41<02:04,  3.57s/it]
 32%|███▏      | 16/50 [00:42<01:35,  2.81s/it]
 34%|███▍      | 17/50 [00:42<01:09,  2.10s/it]
 36%|███▌      | 18/50 [00:43<00:51,  1.62s/it]
 38%|███▊      | 19/50 [00:43<00:39,  1.28s/it]
 40%|████      | 20/50 [00:44<00:31,  1.04s/it]
 42%|████▏     | 21/50 [00:45<00:26,  1.10it/s]
 44%|████▍     | 22/50 [00:45<00:22,  1.27it/s]
 46%|████▌     | 23/50 [00:49<00:50,  1.87s/it]
 48%|████▊     | 24/50 [00:53<00:58,  2.25s/it]
 50%|█████     | 25/50 [00:54<00:49,  1.97s/it]
 52%|█████▏    | 26/50 [00:55<00:39,  1.65s/it]
 54%|█████▍    | 27/50 [00:57<00:40,  1.76s/it]
 56%|█████▌    | 28/50 [00:59<00:43,  2.00s/it]
 58%|█████▊    | 29/50 [01:03<00:49,  2.37s/it]
 60%|██████    | 30/50 [01:09<01:13,  3.66s/it]
 62%|██████▏   | 31/50 [01:13<01:07,  3.57s/it]
 64%|██████▍   | 32/50 [01:13<00:47,  2.65s/it]
 66%|██████▌   | 33/50 [01:19<01:03,  3.75s/it]
 68%|██████▊   | 34/50 [01:23<01:00,  3.77s/it]
 70%|███████   | 35/50 [01:24<00:42,  2.83s/it]
 72%|███████▏  | 36/50 [01:25<00:30,  2.17s/it]
 74%|███████▍  | 37/50 [01:25<00:22,  1.77s/it]
 76%|███████▌  | 38/50 [01:26<00:17,  1.50s/it]
 78%|███████▊  | 39/50 [01:27<00:13,  1.26s/it]
 80%|████████  | 40/50 [01:29<00:16,  1.60s/it]
 82%|████████▏ | 41/50 [01:32<00:17,  1.99s/it]
 84%|████████▍ | 42/50 [01:33<00:12,  1.54s/it]
 86%|████████▌ | 43/50 [01:34<00:10,  1.55s/it]
 88%|████████▊ | 44/50 [01:35<00:07,  1.21s/it]
 90%|█████████ | 45/50 [01:35<00:04,  1.01it/s]
 92%|█████████▏| 46/50 [01:36<00:03,  1.24it/s]
 94%|█████████▍| 47/50 [01:36<00:02,  1.43it/s]
 96%|█████████▌| 48/50 [01:36<00:01,  1.64it/s]
 98%|█████████▊| 49/50 [01:37<00:00,  1.36it/s]
 50%|█████     | 2/4 [02:33<02:15, 67.74s/it]s]
  0%|          | 0/50 [00:00<?, ?it/s]
  2%|▏         | 1/50 [00:00<00:37,  1.32it/s]
  4%|▍         | 2/50 [00:02<00:45,  1.05it/s]
  6%|▌         | 3/50 [00:02<00:36,  1.28it/s]
  8%|▊         | 4/50 [00:09<02:06,  2.74s/it]
 10%|█         | 5/50 [00:16<02:54,  3.89s/it]
 12%|█▏        | 6/50 [00:19<02:45,  3.76s/it]
 14%|█▍        | 7/50 [00:20<01:59,  2.78s/it]
 16%|█▌        | 8/50 [00:20<01:26,  2.06s/it]
 18%|█▊        | 9/50 [00:25<01:58,  2.90s/it]
 20%|██        | 10/50 [00:26<01:28,  2.21s/it]
 22%|██▏       | 11/50 [00:29<01:42,  2.64s/it]
 24%|██▍       | 12/50 [00:31<01:23,  2.20s/it]
 26%|██▌       | 13/50 [00:31<01:04,  1.76s/it]
 28%|██▊       | 14/50 [00:32<00:56,  1.57s/it]
 30%|███       | 15/50 [00:39<01:51,  3.19s/it]
 32%|███▏      | 16/50 [00:40<01:20,  2.36s/it]
 34%|███▍      | 17/50 [00:41<01:05,  1.98s/it]
 36%|███▌      | 18/50 [00:42<00:50,  1.57s/it]
 38%|███▊      | 19/50 [00:44<01:01,  1.99s/it]
 40%|████      | 20/50 [00:45<00:48,  1.61s/it]
 42%|████▏     | 21/50 [00:46<00:37,  1.28s/it]
 44%|████▍     | 22/50 [00:46<00:30,  1.07s/it]
 46%|████▌     | 23/50 [00:47<00:25,  1.06it/s]
 48%|████▊     | 24/50 [00:48<00:22,  1.15it/s]
 50%|█████     | 25/50 [00:48<00:20,  1.25it/s]
 52%|█████▏    | 26/50 [00:49<00:18,  1.30it/s]
 54%|█████▍    | 27/50 [00:50<00:17,  1.32it/s]
 56%|█████▌    | 28/50 [00:56<00:50,  2.29s/it]
 58%|█████▊    | 29/50 [00:56<00:37,  1.79s/it]
 60%|██████    | 30/50 [01:00<00:44,  2.25s/it]
 62%|██████▏   | 31/50 [01:02<00:44,  2.32s/it]
 64%|██████▍   | 32/50 [01:02<00:31,  1.74s/it]
 66%|██████▌   | 33/50 [01:03<00:22,  1.35s/it]
 68%|██████▊   | 34/50 [01:03<00:17,  1.06s/it]
 70%|███████   | 35/50 [01:04<00:13,  1.14it/s]
 72%|███████▏  | 36/50 [01:05<00:12,  1.12it/s]
 74%|███████▍  | 37/50 [01:09<00:24,  1.90s/it]
 76%|███████▌  | 38/50 [01:09<00:18,  1.52s/it]
 78%|███████▊  | 39/50 [01:19<00:42,  3.82s/it]
 80%|████████  | 40/50 [01:20<00:29,  2.99s/it]
 82%|████████▏ | 41/50 [01:23<00:27,  3.09s/it]
 84%|████████▍ | 42/50 [01:29<00:31,  3.96s/it]
 86%|████████▌ | 43/50 [01:30<00:21,  3.06s/it]
 88%|████████▊ | 44/50 [01:31<00:14,  2.43s/it]
 90%|█████████ | 45/50 [01:32<00:09,  1.92s/it]
 92%|█████████▏| 46/50 [01:32<00:06,  1.56s/it]
 94%|█████████▍| 47/50 [01:33<00:03,  1.25s/it]
 96%|█████████▌| 48/50 [01:33<00:01,  1.00it/s]
 98%|█████████▊| 49/50 [01:34<00:00,  1.10it/s]
 75%|███████▌  | 3/4 [04:10<01:16, 76.38s/it]s]
  0%|          | 0/50 [00:00<?, ?it/s]
  2%|▏         | 1/50 [00:09<07:33,  9.25s/it]
  4%|▍         | 2/50 [00:09<05:19,  6.65s/it]
  6%|▌         | 3/50 [00:10<03:45,  4.81s/it]
  8%|▊         | 4/50 [00:11<02:46,  3.61s/it]
 10%|█         | 5/50 [00:11<02:03,  2.74s/it]
 12%|█▏        | 6/50 [00:12<01:33,  2.13s/it]
 14%|█▍        | 7/50 [00:13<01:21,  1.89s/it]
 16%|█▌        | 8/50 [00:17<01:35,  2.27s/it]
 18%|█▊        | 9/50 [00:18<01:17,  1.89s/it]
 20%|██        | 10/50 [00:19<01:04,  1.62s/it]
 22%|██▏       | 11/50 [00:20<00:56,  1.44s/it]
 24%|██▍       | 12/50 [00:21<00:53,  1.40s/it]
 26%|██▌       | 13/50 [00:21<00:41,  1.13s/it]
 28%|██▊       | 14/50 [00:23<00:45,  1.25s/it]
 30%|███       | 15/50 [00:30<01:39,  2.86s/it]
 32%|███▏      | 16/50 [00:36<02:17,  4.05s/it]
 34%|███▍      | 17/50 [00:40<02:06,  3.84s/it]
 36%|███▌      | 18/50 [00:41<01:38,  3.07s/it]
 38%|███▊      | 19/50 [00:44<01:37,  3.15s/it]
 40%|████      | 20/50 [00:50<01:54,  3.82s/it]
 42%|████▏     | 21/50 [00:51<01:29,  3.10s/it]
 44%|████▍     | 22/50 [00:59<02:08,  4.61s/it]
 46%|████▌     | 23/50 [01:00<01:31,  3.39s/it]
 48%|████▊     | 24/50 [01:00<01:04,  2.49s/it]
 50%|█████     | 25/50 [01:02<00:53,  2.15s/it]
 52%|█████▏    | 26/50 [01:02<00:41,  1.73s/it]
 54%|█████▍    | 27/50 [01:03<00:30,  1.33s/it]
 56%|█████▌    | 28/50 [01:06<00:41,  1.89s/it]
 58%|█████▊    | 29/50 [01:06<00:31,  1.48s/it]
 60%|██████    | 30/50 [01:09<00:39,  1.96s/it]
 62%|██████▏   | 31/50 [01:11<00:37,  1.95s/it]
 64%|██████▍   | 32/50 [01:12<00:28,  1.58s/it]
 66%|██████▌   | 33/50 [01:13<00:22,  1.33s/it]
 68%|██████▊   | 34/50 [01:14<00:18,  1.17s/it]
 70%|███████   | 35/50 [01:14<00:15,  1.03s/it]
 72%|███████▏  | 36/50 [01:17<00:19,  1.38s/it]
 74%|███████▍  | 37/50 [01:20<00:24,  1.86s/it]
 76%|███████▌  | 38/50 [01:22<00:24,  2.08s/it]
 78%|███████▊  | 39/50 [01:23<00:17,  1.59s/it]
 80%|████████  | 40/50 [01:23<00:12,  1.27s/it]
 82%|████████▏ | 41/50 [01:24<00:09,  1.00s/it]
 84%|████████▍ | 42/50 [01:24<00:06,  1.18it/s]
 86%|████████▌ | 43/50 [01:25<00:05,  1.28it/s]
 88%|████████▊ | 44/50 [01:26<00:05,  1.05it/s]
 90%|█████████ | 45/50 [01:27<00:04,  1.06it/s]
 92%|█████████▏| 46/50 [01:27<00:03,  1.22it/s]
 94%|█████████▍| 47/50 [01:29<00:03,  1.18s/it]
 96%|█████████▌| 48/50 [01:32<00:03,  1.61s/it]
 98%|█████████▊| 49/50 [01:32<00:01,  1.25s/it]
100%|██████████| 4/4 [05:55<00:00, 84.93s/it]t]

In [48]:
len(vertical)

200

In [49]:
result = pd.DataFrame({
    'Name':name[:200],
    'URL':url[:200],
    'Phone':phone[:200],
    'Address':address[:200],
    'City':city[:200],
    'State':state[:200],
    'ZIP':czip[:200],
    'Vertical':vertical[:200],
    'Rating':rating[:200],
    'Review Count':review_count[:200],
    'Yelp ID':yelp_id[:200]
})
print('Original length of collected data: '+str(len(result))+' listings.')

Original length of collected data: 200 listings.

In [64]:
def vertical_split(x_):
    first = []
    second = []
    third = []
    for _ in x_:
        x = _.split(', ')
        try:
            first += [x[0]]
        except: first += ['None']
        try:
            second += [x[1]]
        except: second += ['None']
        try:
            third += [x[2]]
        except: third += ['None']
    return first, second, third

In [65]:
result['Vertical1'], result['Vertical2'], result['Vertical3'] = vertical_split(result['Vertical'])

In [67]:
len(result)

200

In [69]:
result.drop_duplicates(subset=['Phone'], inplace=True)

In [71]:
result = pd.get_dummies(result, columns=['City','ZIP','Vertical1','Vertical2','Vertical3'], drop_first=True)

In [75]:
result['Ranking'] = list(range(1,len(result)+1))

In [77]:
result_ = result[['Name','URL','Phone','Address','State','Vertical','Yelp ID']]
result = result.drop(['Name','URL','Phone','Address','State','Vertical','Yelp ID'],axis=1)

In [79]:
result.head()

,Rating,Review Count,City_Cardiff By The Sea,City_Chula Vista,City_Coronado,City_Del Mar,City_El Cajon,City_Encinitas,City_Imperial Beach,City_La Jolla,...,Vertical3_Sandwiches,Vertical3_Seafood,Vertical3_Sicilian,Vertical3_Soul Food,Vertical3_Soup,Vertical3_Tapas Bars,Vertical3_Vegan,Vertical3_Venues & Event Spaces,Vertical3_Wine Bars,Ranking
0,4.5,575,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4.5,2419,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,4.5,974,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,4.0,2505,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
10,4.0,814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5

In [81]:
result.head()

,Rating,Review Count,City_Cardiff By The Sea,City_Chula Vista,City_Coronado,City_Del Mar,City_El Cajon,City_Encinitas,City_Imperial Beach,City_La Jolla,...,Vertical3_Sandwiches,Vertical3_Seafood,Vertical3_Sicilian,Vertical3_Soul Food,Vertical3_Soup,Vertical3_Tapas Bars,Vertical3_Vegan,Vertical3_Venues & Event Spaces,Vertical3_Wine Bars,Ranking
0,4.5,575,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4.5,2419,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,4.5,974,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,4.0,2505,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
10,4.0,814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5

In [95]:
import matplotlib.pyplot as plt

In [99]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = result.drop('Ranking',axis=1)
y = result.Ranking
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [100]:
linreg = LogisticRegression().fit(X_train, y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [101]:
#To retrieve the intercept:
print(linreg.intercept_)
#For retrieving the slope:
print(linreg.coef_)

[-1.43317660e-02 -2.23649694e-01 -7.20380431e-02 -2.31366206e-01
 -5.05021448e-02  3.29326739e-02  1.50059276e-02  2.16590230e-03
 -4.36384642e-02 -1.40207810e-01  2.10479906e-02 -2.59382149e-01
  6.68907019e-03  1.01369773e-01 -3.11674758e-02 -2.64845872e-02
  5.98297021e-02  4.22674044e-02 -2.76865838e-02 -1.84329320e-01
  2.18178802e-02  1.24248189e-02  1.68247394e-02 -4.14414768e-02
 -1.01635620e-01 -5.75477561e-02  2.38436637e-02  8.02102246e-02
  4.53078080e-02 -1.15026616e-01 -8.04371838e-02  1.02739417e-02
  8.99197500e-04  4.79112051e-02 -5.36593198e-02  2.36699287e-03
 -4.46977445e-02 -1.01260218e-01  5.42882410e-02 -3.22311880e-02
  2.02207659e-02 -3.09738990e-02  4.30109342e-02 -6.94555017e-03
  6.40481733e-03  5.03675704e-02 -3.49255017e-02  3.62518314e-02
  4.46898561e-02 -1.25747804e-01  5.85884652e-02 -2.03479507e-02
 -2.16837036e-02 -1.09106390e-02  7.87073232e-02  7.14740680e-02
  6.42889757e-02  4.17044976e-02  3.94188695e-02 -2.69601993e-03
  3.89555765e-02 -3.20254220e-02  1.19445421e-01 -9.33528944e-02
  4.83975780e-02 -7.79751543e-03  5.10631843e-02  2.70750312e-02
 -2.57715465e-04  3.17261015e-02  1.78230516e-02 -2.79456501e-02
  2.12799341e-02 -1.48156067e-01  5.91100555e-02 -8.74984302e-02
  4.68248334e-02  6.43600157e-02  2.76585748e-02 -2.27633958e-01
  5.27516888e-02 -1.30708232e-02  9.42294136e-02  1.38134124e-02
 -8.42035602e-02 -3.30149374e-02 -1.15218914e-02 -3.48252009e-02
  6.95675705e-02  7.43507938e-02  2.06447203e-02  1.68654769e-02
  1.04470309e-01 -5.41632509e-02  1.08090523e-01 -2.61579116e-02
 -8.29755241e-03 -6.42073787e-02  1.92668544e-02  2.28842757e-02
  3.65406548e-02 -4.33013418e-02 -2.07265731e-01  5.65113446e-02
  5.26038857e-02 -4.90888245e-02 -6.36171580e-02  2.09921586e-02
  9.32109816e-02  2.53086802e-02  1.02161771e-01  2.80694189e-02
 -7.90422295e-02  2.05591098e-02 -8.52256639e-03  7.93205595e-02
 -1.00544750e-01 -9.62223128e-02  4.19050758e-02 -2.35494068e-02
  8.36758550e-02  1.11414463e-01  1.15277229e-01  6.03723928e-02
 -1.50979685e-02 -1.15989257e-01  8.51599246e-02  3.56223645e-02
 -2.08163985e-02  1.31260661e-02  2.77165518e-02  9.80614986e-02
  5.05768834e-02  6.97446388e-02  7.34807936e-02 -8.87657188e-03
 -6.93507113e-02  1.23357133e-01  1.19447028e-01  6.97763986e-02
  4.51154353e-02]
[[-4.06272632e-03  4.52594087e-02 -1.11661501e-03 ...  0.00000000e+00
  -3.54291254e-03 -1.39828157e-02]
 [-8.67424920e-01  4.97358008e-02 -1.37324500e-03 ...  0.00000000e+00
  -7.34120094e-03 -2.43959678e-02]
 [-2.40883472e-01  4.72570700e-02 -1.22417578e-03 ...  0.00000000e+00
  -4.86196621e-03 -1.77161899e-02]
 ...
 [ 4.72989433e-01 -1.23050167e+00 -3.38748421e-04 ...  0.00000000e+00
  -1.84518541e-04 -1.60250970e-03]
 [ 3.40005319e-01  3.73652806e-02 -8.10362979e-04 ...  0.00000000e+00
  -1.27725401e-03  1.35878426e-01]
 [ 2.39123042e-01  4.20072425e-02 -9.31618479e-04 ...  0.00000000e+00
  -1.95657611e-03 -9.10679625e-03]]

In [102]:
y_pred = linreg.predict(X_test)

In [103]:
df = pd.DataFrame({'Actual': np.array(y_test).flatten(), 'Predicted': y_pred.flatten()})
df.head()

   Actual  Predicted
0     185         71
1     164         96
2      19         78
3      16        129
4      68        143

In [104]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 63.25
Mean Squared Error: 5613.666666666667
Root Mean Squared Error: 74.92440634844341