In [53]:
import pandas as pd
import glob, os
import datetime

In [54]:
for file in glob.glob('*.csv'):
    print(file)

COVID-19_Wikipeda_v1.csv
all-the-news-2-1.csv
tweets_coded.csv
COVID-19_pandemic_in_India.csv
COVID-19_pandemic_in_Italy.csv
td_gamma.csv
COVID_news_with_dom_topics.csv
all-the-news-2020-COVID.csv
COVID-19_pandemic_in_Egypt.csv
topic_td_gamma.csv
all-the-news-2020-COVID-title.csv
COVID-19_pandemic.csv
combined_v1.csv
COVID-19_pandemic_cleaned.csv
COVID-19_pandemic_updated.csv
combined.csv
combined_with_dom_topics.csv
all-the-news-2020.csv
topic_td_gamma_69topics.csv
COVID-19_pandemic_in_France.csv
all-the-news-2020-COVID-title-drop-na.csv

In [55]:
csvs = [
#     'COVID-19_pandemic_in_India.csv',
#     'COVID-19_pandemic_in_Italy.csv',
#     'COVID-19_pandemic_in_Egypt.csv',
#     'COVID-19_pandemic_in_France.csv',
    'COVID-19_pandemic_updated.csv',
    'all-the-news-2020-COVID-title.csv'
]

In [56]:
news = pd.read_csv(csvs[-1],index_col=0,parse_dates=['date'])[['date','article','title','publication']]
news.head()

,date,article,title,publication
0,2020-01-01,"Hi, Carolyn: I am a stay-at-home mom of childr...",Carolyn Hax: A stay-at-home mom feels hurt whe...,Washington Post
1,2020-01-02,LONDON (Reuters) - Foreign exchange firm Trave...,Foreign exchange firm Travelex hit by software...,Reuters
2,2020-01-02,LONDON (Reuters) - Foreign exchange firm Trave...,Foreign exchange firm Travelex hit by software...,Reuters
3,2020-01-08,NaN,China virus: Specter of new illness emerging f...,Washington Post
4,2020-01-09,NaN,Chinese report says illnesses may be from new ...,Washington Post

In [61]:
data = [pd.read_csv(x) for x in csvs[0:-1]]
datas = pd.concat(data)
datas.columns=['title','date','article']
datas = datas.dropna(subset=['article','date'])

datas['len'] = datas.date.apply(lambda x: len(x))
datas = datas[datas.len==20]
datas['date'] = pd.to_datetime(datas['date'])
datas.head()

,title,date,article,len
0,COVID-19_pandemic,2020-05-28 11:02:05+00:00,"\nThe COVID-19 pandemic, also known as the co...",20
1,COVID-19_pandemic,2020-05-28 11:00:44+00:00,"\nThe COVID-19 pandemic, also known as the co...",20
2,COVID-19_pandemic,2020-05-28 10:27:19+00:00,"\nThe COVID-19 pandemic, also known as the co...",20
3,COVID-19_pandemic,2020-05-28 10:11:44+00:00,"\nThe COVID-19 pandemic, also known as the co...",20
4,COVID-19_pandemic,2020-05-28 06:58:06+00:00,"\nThe COVID-19 pandemic, also known as the co...",20

In [62]:
datas.shape

(21154, 4)

In [66]:
# datas['publication']=['Wikipedia']*datas.shape[0]
# datas['date'] = datas['date'].dt.date

datas = datas.sort_values('date').groupby([datas['date'].dt.date, datas['date'].dt.hour], as_index=False).last()
datas['date'] = datas['date'].dt.date
print(datas.shape)
datas.head()

(2870, 4)

,title,date,article,len
0,COVID-19_pandemic,2020-01-05,"2019-2020 China pneumonia outbreak, or China p...",20
1,COVID-19_pandemic,2020-01-05,"2019-2020 China pneumonia outbreak, or China p...",20
2,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",20
3,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",20
4,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",20

In [78]:
datas['publication']=['Wikipedia']*datas.shape[0]
datas.drop(columns=['len'],inplace=True)
datas.head()

In [65]:
#last_row_index = datas.groupby('date', as_index=False).apply(lambda g: g.index[-1])
#datas["LastRow"] = False
#datas.loc[last_row_index, "LastRow"] = True
#datas[datas.LastRow].head()

In [67]:
datas.date

0       2020-01-05
1       2020-01-05
2       2020-01-06
3       2020-01-06
4       2020-01-06
           ...
2865    2020-05-28
2866    2020-05-28
2867    2020-05-28
2868    2020-05-28
2869    2020-05-28
Name: date, Length: 2870, dtype: object

In [75]:
datas.to_csv('COVID-19_pandemic_updated_cleaned.csv')

In [76]:
combined = pd.concat([datas,news],sort=False)
combined.to_csv('combined_v2.csv')

In [77]:
combined.head()

,title,date,article,publication
0,COVID-19_pandemic,2020-01-05,"2019-2020 China pneumonia outbreak, or China p...",Wikipedia
1,COVID-19_pandemic,2020-01-05,"2019-2020 China pneumonia outbreak, or China p...",Wikipedia
2,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",Wikipedia
3,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",Wikipedia
4,COVID-19_pandemic,2020-01-06,"2019-2020 China pneumonia outbreak, or China p...",Wikipedia

In [79]:
combined.shape

(48676, 4)