In [1]:
import pandas as pd
import numpy as np
import os

# Dataset 1: Abt-Buy Dataset

# Task 1: Describe the Columns

In [25]:
pt1 = "../data/Abt-Buy/Abt.csv"
pt2 = "../data/Abt-Buy/Buy.csv"
pt3 = "../data/Abt-Buy/abt_buy_perfectMapping.csv"

In [40]:
Abt = pd.read_csv(pt1, engine='python')
Buy = pd.read_csv(pt2)
Pairings = pd.read_csv(pt3)

In [41]:
Abt.head()

,id,name,description,price
0,552,Sony Turntable - PSLX350H,Sony Turntable - PSLX350H/ Belt Drive System/ ...,NaN
1,580,Bose Acoustimass 5 Series III Speaker System -...,Bose Acoustimass 5 Series III Speaker System -...,$399.00
2,4696,Sony Switcher - SBV40S,Sony Switcher - SBV40S/ Eliminates Disconnecti...,$49.00
3,5644,Sony 5 Disc CD Player - CDPCE375,Sony 5 Disc CD Player- CDPCE375/ 5 Disc Change...,NaN
4,6284,Bose 27028 161 Bookshelf Pair Speakers In Whit...,Bose 161 Bookshelf Speakers In White - 161WH/ ...,$158.00

In [29]:
Buy = pd.read_csv(pt2)

In [30]:
Pairings = pd.read_csv(pt3)

In [31]:
Pairings.drop_duplicates().shape

(1097, 2)

In [35]:
Pairings[Pairings.idAbt == 26930]

     idAbt      idBuy
175  26930  203445879
188  26930  203920144

In [36]:
Abt[Abt.id == 26930]

,id,name,description,price
205,26930,Monster PS3 HDMI-2M Playstation 3 GameLink HDM...,Monster PS3 HDMI-2M Playstation 3 GameLink HDM...,NaN

In [39]:
Buy[[x in list(Pairings[Pairings.idAbt == 26930].idBuy) for x in Buy.id ]]

,id,name,description,manufacturer,price
266,203445879,Monster Game 127961 GameLink(tm) 2M HDMI Digit...,NaN,Monster Game,$45.79
282,203920144,Monster Cable GameLink HDMI Digital Video/Audi...,NaN,Monster Cable,$55.79

## Looking at NaN's

In [48]:
print("Buy Table")
print("==============")
display(Buy.isna().mean())
print("About Table")
print("==============")
display(Abt.isna().mean())

Buy Table
==============

id              0.000000
name            0.000000
description     0.403846
manufacturer    0.005495
price           0.459707
dtype: float64

About Table
==============

id             0.000000
name           0.000000
description    0.000000
price          0.613321
dtype: float64

In [49]:
Abt.isna().mean()

id             0.000000
name           0.000000
description    0.000000
price          0.613321
dtype: float64